[submodule "CustomDataset"]
	path = CustomDataset
	url = https://github.com/Digital-Pathology/CustomDataset.git
[submodule "UnifiedImageReader"]
	path = UnifiedImageReader
	url = https://github.com/Digital-Pathology/UnifiedImageReader.git
[submodule "Filtration"]
	path = Filtration
	url = https://github.com/Digital-Pathology/Filtration.git
[submodule "AWS-Utils"]
	path = AWS-Utils
	url = https://github.com/Digital-Pathology/AWS-Utils.git
[submodule "ModelManager"]
	path = ModelManager
	url = https://github.com/Digital-Pathology/ModelManager.git
